/* Practice Question 2 */

/* Q. Set the color paragraph inside divs with the id "myId" gree. */

h1{
    color: pink;
}

#greet {
    color: yellow;
}

.myClass {
    color: brown;
}

/* Que 2 */
div p {
    background-color: black;
}

.para {
    background-color: blue;
}

p{
    background-color: green;
}

/* Practice Q 3 */
div.greetDiv .greet {
    color: green;
}

.greetDiv p.greet{
    color: blue;
}

.greetDiv .greet {
    color: red;
}