/* 
text-align
text-weight
text-decoration
line-height
letter-spacing
font-size
*/

/* All form apply on index2 file */
/* Font-Size unit in CSS */

/* 
Absolute Value :    Relative
px             :    %
pt             :    em
pc             :    rem
cm             :    ch
mm             :    vh
in             :    vw + many more 

*/

/* Pixel(px): most commonly used absolute unit. */

/* 96px= 1 inch */

/* not suitable for responsive websites */

p{
    font-size: 20px;
    font-weight: 700;
}

mark{
    background-color: rgb(157, 157, 240);
}