/* 
text-align
text-weight
text-decoration
line-height
letter-spacing
font-size
*/

/* All form apply on index2 file */
h1{
    text-align: center;
    width: 50%;
    
}
h2{
    text-align: right;

}

p{
    text-align:center;
}


